/* header section started */
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}

.flower-header-section {
  display: flex;
  gap: 70px;
  justify-content: space-around;
  align-items: center;
  background: rgba(229, 84, 115, 0.10);
  height: 795px;
}

.flower-header-content {
  max-width: 700px;
  margin-left: 200px;
}

.flower-header-content h2 {
  font-size: 80px;
  font-weight: 800;
}

.flower-header-content p {
  color: rgba(39, 39, 39, 0.60);
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 30px 0px;
}

.flower-header-img img {
  margin-bottom: -50px;
  width: 600px;
  height: 746px;
  margin-right: 200px;
}

.shop-btn {
  padding: 15px 35px;
  border-radius: 8px;
  background: #E55473;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  border: 0;
}

/* header section end */
/* feature section started */

.features {
  margin: 120px 240px;
}

.feature-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.feature-paragraph {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 10px;
}

.box {
  display: flex;
  /* align-items: end; */
  justify-content: space-around;
  text-align: center;
  margin-top: 80px;
}

.box-1 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
  width: 464px;
  height: 538px;
}

.box-1 img {
  width: 310px;
  height: 428px;
  margin-top: 110px;
}

.box-2 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(5, 151, 160, 0.15);
  width: 464px;
  height: 538px;
}

.box-2 img {
  width: 370px;
  height: 370px;
  margin-top: 100px;
}


.box-2 h6 {
  margin-top: 90px;
  color: #272727;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 74px;
  text-decoration-line: underline;
}

.box-3 h6,
.box-1 h6 {
  color: #272727;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  text-decoration-line: underline;
}

.box-3 {
  border-radius: 300px 300px 0px 0px;
  background: rgba(71, 125, 17, 0.15);
  width: 464px;
  height: 538px;
}

.box-3 img {
  width: 314px;
  height: 471px;
  margin-top: 67px;
}

/* feature section end */

/* service section started */
.service {
  margin: 140px 248px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 50px 0px;
}

.service-section {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.single-service img {
  width: 80px;
  height: 80px;
}

.single-service h6 {
  color: rgba(39, 39, 39, 0.80);
  font-size: 16px;
  margin-top: 12px;
}

.service-1 {
  margin-left: 150px;
}

.service-3 {
  margin-right: 150px;
}

/* service section end */

/* sale section started  */
.sale {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  padding: 80px 400px;
}

.sale-section {
  display: flex;
  gap: 50px;
  justify-content: space-around;
  align-items: center;
}

.sale-content {
  text-align: center;
}

.sale-content h2 {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
}

.text-color {
  color: #E55473;
}

.sale-content p {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.margin-p {
  margin-bottom: -15px;
}

.sign-up-btn {
  margin-top: 20px;
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  border-radius: 5px;
  background: #E55473;
  border: 0;
  padding: 12px 30px;
}

/* sale section end  */


/* team section started  */

.team {
  margin: 120px 240px;
  background-color: rgba(215, 247, 247, 0.562);
  padding-top: 100px;
  padding-bottom: 50px;
}

.team-section-content {
  text-align: center;
}

.team-section-content h2 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.team-section-content p {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: .9;
}

.team-members {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.single-team-member img {
  width: 340px;
  height: 400px;
}

.single-team-member {
  text-align: center;
}

.single-team-member h3 {
  font-size: 25px;
  font-weight: 700;
}

.single-team-member h5 {
  font-size: 18px;
  font-weight: 600;
  color: rgba(17, 16, 16, 0.993);
}

.single-team-member p {
  font-size: 16px;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.60);
}

/* team section end  */


/* instagram section started */
.instagram {
  margin: 120px 240px;
}

.instagram-title {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.instagram-paragraph {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.instagram-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.insta-box-1,
.insta-box-4,
.insta-box-3,
.insta-box-4 {
  width: 340px;
  height: 400px;

}

.instagram-text {
  text-align: center;
}

/* instagram section end */

/* subscribe section started */


.subscribe {
  margin: 0px 250px;
}

.subscribe-section {
  text-align: center;
  height: 420px;
  background-image: url("assets/Rectangle\ 9.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 120px;
}

.subscribe-section h2 {
  color: #272727;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
}

.subscribe-section p {
  color: rgba(39, 39, 39, 0.60);
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}

.email-box {
  width: 700px;
  height: 55px;
  margin-top: 30px;
  border-radius: 8px;
  border: none;
  margin-right: 15px;
}

.subscribe-btn {
  width: 150px;
  height: 55px;
  border-radius: 8px;
  background: #E55473;
  border: none;
  font-size: 20px;
  color: white;
}

/* subscribe section end */


/* footer section end */
.footer {
  background-color: #111010;
  color: white;
  height: 440px;
}

.footer-section {
  text-align: center;
  padding: 120px 0px;
}

.footer-section h2 {
  color: #E55473;
  font-size: 48px;
  font-weight: 800;
}

.footer-paragraph {
  color: rgba(255, 255, 255, 0.90);
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: .7;
  opacity: .7;
}

.copyright {
  color: rgba(255, 255, 255, 0.40);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  opacity: .4;
  margin-top: 30px;
}

.white-color {
  color: white;
}

/* footer section end */